@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  background-color: #01a0e9 !important;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

:root {
  --light-green: #dcfce7;
}

.background-light-green {
  background-color: var(--light-green);
}

.container-background {
  max-width: 1100px;
  margin: 0 auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.ant-col-16 {
  max-width: 100% !important;
}

.ant-table-cell {
  padding: 10px !important;
}

.ant-rate-star:not(:last-child) {
  margin-inline-end: 0px !important;
}

.webkit-scrollbar {
  scrollbar-color: #ccc #f3f4f7;
  scrollbar-width: thin;
}

.plus-icon {
  transition: 0.3s ease-in-out;
  color: #00b4d8;
}

.plus-icon:hover {
  transition: 0.3s ease-in-out;
  color: #0e96b1 !important;
}


/* 
.Toastify__toast-container--top-center {
  width: fit-content !important;
  top: 30% !important;
} */
